@charset "uft-8";

span{
    color:black;
    margin-left: 40px;
    border: 2px solid black;
    justify-content: left;
    font-size: 30px;
    padding: 15px;
}
header{
    margin-top: 40px;
}
body h2{
    color:black;
    font-size: 35px;
    margin-left: 35px;
    padding-top: 40px;
}
body{
    padding-top: 50px;
}


